@import 'loginVaraibles';
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url(../resources/cover2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
body
{
	.active a{
		color: #fdb827 !important;
	}
		overflow: hidden;
		direction: rtl;
		margin: 0;
		padding: 0;
		height: 100%;
		background-image: url(../resources/cover2.jpg);
		background-repeat: no-repeat;
		background-size: cover;

	.user_card {
		height: 57%;
		width: 35%;
		margin-top: auto;
		margin-bottom: auto;
		background: #f39c12;
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
			-ms-flex-pack: center;
				justify-content: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
			-ms-flex-direction: column;
				flex-direction: column;
		padding: 10px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		border-radius: 5px;
	}
	
	.brand_logo_container {
		position: absolute;
		height: 80%;
		width: 80%;
		top: -75px;
		border-radius: 50%;
		background: transparent;
		padding: 10px;
		text-align: center;
	}
	
	.brand_logo {
		height: 50%;
		width: 70%;
		border-radius: 50%;
		border: 2px solid white;
	}
	
	.form_container {
		margin-top: 100px;
	}
	
	.login_btn {
		width: 100%;
		background: #c0392b ;
		color: white;
		font-weight: bold;
	}
	
	.login_btn:focus {
		-webkit-box-shadow: none !important;
				box-shadow: none !important;
		outline: 0px !important;
	}
	.login_btn:hover{
		background-color: wheat;
		color:#c0392b ;
	}

	.login_container {
		padding: 0 2rem;
	}
	
	.input-group-text {
		// width: 80%;
		background: #c0392b !important;
		color: white !important;
		border: 0 !important;
		border-radius: 0.25rem 0 0 0.25rem !important;
	}
	
	.input_user,
	.input_pass:focus {
		-webkit-box-shadow: none !important;
				box-shadow: none !important;
		outline: 0px !important;
	}
	
	.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
		background-color: #c0392b !important;
	}
	#validate, #validate2{
	background-color: #ffffff;
	}
}